[run]
omit =
    .venv/*
    src/tests/*
    */site-packages/*
    src/miningcat/interfaces/cli/area_picker.py

[report]
fail_under = 80
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    def __repr__
